{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSpacing": false,
  "embeddedLanguageFormatting": "auto",
  "insertPragma": false
}
